<%- include('partials/header.ejs') %>

    
    
     <div class="title">
      <h3> R&B Technology Training Center </h3>
      <h5>Please sign in below with your username and password!</h5>
     
     <figure><img src="img/training1.png"></figure>
     </div>

<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="styles.css">
<link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
</head>	

 <body>
 <h5>
	<div>
		<label> Email:</label>
		<input type="email" name=" email" placeholder="your email" required="email">
	
		<label>Password:
		<input type="password" name="password" pattern=".{5,10}" required title= "Password must be between 5 to 10 characters"> </label>
	</div>

	<button>Login</button>
	<h4> Fake Login tada!!!!!</h4>
	
	</h5>
 </body>
    
<%- include('partials/footer.ejs') %>