<%- include('partials/header.ejs') %>



     <div class="title">
      <h3> R&B Technology Training Center </h3>
      <h5>Below are a few links of references.</h5>
     
     <figure><img src="img/reference.png"></figure>
     </div>
    
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="styles.css">
<link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
</head>

<body>
<h5>REFERENCES </h5>

<div>
  <br>
 </main> 
  </br><h4>
   <div class id="reference">
        <p><strong>Below is the list of references</strong></p>
        <p><a href="https://www.coursera.org/browse/information-technology"> <strong> Coursera</strong></a> </p>
        <p><a href="https://www.datacamp.com/courses/topic:data_manipulation"> <strong> Datacamp</strong></a> </p>
        <p><a href="https://www.nyip.edu/courses"> <strong> NYI of Photography</strong></a>  </p>
        <p><a href="https://www.lynda.com/Video-Production-tutorials/7980-0.html/"> <strong> Lynda Videography</strong></a> </p>

        <ul> Cisco Certified Network Associate: <a href="https://www.udemy.com/courses/search/?q=aws&src=sac&kw=aw">CCNA</a></ul>
        <ul> Microsoft Office 365: <a href="https://www.udemy.com/courses/search/?src=ukw&q=Microsoft+Office+365+teams">MS Office 365: Teams</a></ul>
        <ul> Cisco Certified Network Professional: <a href="https://www.cisco.com/c/en/us/training-events/training-certifications/certifications/professional.html"> CCNP </a></ul>
    </div>
    </h4>
</body>

<%- include('partials/footer.ejs') %>