
<%- include('partials/header.ejs') %>

     <div class="title">
      <h3> R&B Technology Training Center </h3>
      <h5>Would like to learn more? Send us a message.</h5>
     
     <figure><img src="img/contacts.png"></figure>
     </div>

<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="styles.css">
<link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
</head>
<hr>

<boby> <h4>
 <br>
<p> Below is a list of contacts. Please select the person you want to contact.</p>
<p>
  President:<a href="mailto:webmaster@example.com">Jewell Christiansen</a>
</p>
<p>
  Chairwoman:<a href="mailto:webmaster@example.com">Olga Maggio</a>
</p>
<p>
  Head of Marketing:<a href="mailto:webmaster@example.com">Nicolette Jenkins</a>
</p>
<p>
  Head of Finance:<a href="mailto:webmaster@example.com">Clare Gibson</a>
</p>
</h4>
 </main> 
   
<div id="content">
<!--<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScXblYUngZBV0FL05mlgV1AaVih2OEmMnMvV5vebiS1QtMbWw/viewform?embedded=true" width="640" height="943" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
-->
</div>
  
  <%- include('partials/footer.ejs') %>